{# {% load styxFilters %}}
{% load thumbnail %}
{% load staticfiles %#}

<div class="actus">
  <div class="pt1" id="{{post.identifier}}">
    {% if post.category.image %}
    {#% thumbnail post.category.image "100x100" crop="center" format="PNG" as im %}
    <img class="category" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %#}
    {% else %}
    <img class="category" src="{{ asset('bundles/framework/images/user/user.jpg')}}">
    {% endif %}
    <span class="titre">{{post.title}}</span>
    {% for reward in post.getrewards %}
    <!-- <div>{{reward.name}}</div> -->
    <img class="reward" src="{{ asset('bundles/framework/images/icons/' ~ reward.image)}}">
    {% endfor %}
    <span class="date_responsive">{{post.createdat | date("D d M Y") }}</span>
    <span class="text">
      {{ post.description | nl2br | slice(0,200)}}
    </span>
  </div>
  <div class="pt2">
    <div class="left">
      <div class="coms action">
        <img src="{{ asset('bundles/framework/images/icons/coms.png')}}">
        <span class="cpt">{#{ post.comment_count }#}</span>
      </div>
      <div class="vues action">
        <img src="{{ asset('bundles/framework/images/icons/vues.png')}}">
        <span class="cpt">{#{ post.count_views}#}</span>
      </div>
      {#% comment %}
      <div class="partages action">
      <img src="{{ asset('bundles/framework/images/icons/partages.png')}}">
      <span class="cpt">12</span>
      </div>
      {% endcomment %#}
    </div>
    <div class="right">
      <a href="/profil/{{ post.owner.identifier}}">

        {% if post.owner.avatar %}
        {#% thumbnail post.owner.avatar "100x100" crop="center" format="PNG" as im %}
        <img class='pp' src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %#}
        {% else %}
        <img class='pp' src="{{ asset('bundles/framework/images/user/user.jpg')}}">
        {% endif %}
        <span class="pseudo">{{ post.owner.firstname}} {{post.owner.name}}</span>
      </a>
      <span class="date_post">{{post.createdat | date("D d M Y") }}</span>
    </div>
  </div>
</div>

<div class="clearfix"></div>
